﻿@model WorkTimesheet.Web.ViewModels.ProjectTaskMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization


<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Current Task</h1>
        <p>Grid to display current task details</p>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Task</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.CurrentTask, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: AddTaskForm"><i class="fa fa-plus"></i>Task</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Task Code</th>
                                <th>User Name</th>
                                <th>Project Name</th>
                                <th>Task Name</th>
                                <th>Status</th>
                                <th>Approval Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: TaskCode"></span></td>
                                <td><span data-bind="text: UserName"></span></td>
                                <td><span data-bind="text: ProjectName"></span></td>
                                <td><span data-bind="text: Title"></span></td>
                                <td><span data-bind="text: StatusName, css: $parent.UpdateTaskStatus(Status)"></span></td>
                                <td><span data-bind="text: ApprovalStatusName, css: $parent.UpdateApprovalStatus(ApprovalStatus)"></span></td>
                                <td>
                                    @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.ChangeTaskStatus, PermissionType.SpecialRights)).Result.Succeeded)
                                    {
                                        <div class="form-group">
                                            <select class="form-control" name="Status"
                                                    data-bind="options: $parent.StatusNameType, optionsCaption: 'Change Status',
                                                optionsValue: function(item) { return item.Id; }, optionsText: function(item) { return item.Name; }, event: {change: ChangeTask}"></select>
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    }
                                    @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.CurrentTask, PermissionType.SpecialRights)).Result.Succeeded)
                                    {
                                        <div class="form-group">
                                            <select class="form-control" name="ApprovalStatus"
                                                    data-bind="options: $parent.ApprovalNameType, optionsCaption: 'Approval Status',
                                                optionsValue: function(item) { return item.Id; }, optionsText: function(item) { return item.Name; }, event: {change: ChangeApproval}"></select>
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    }
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.CurrentTask, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: EditTaskForm">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.CurrentTask, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteTask">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $(document).ready(function () {
        @Html.KnockoutModalConfig();
        function ViewModel() {
            var self = this;

            self.showMenuDialog = ko.observable(false);
            self.ErrorMessage = ko.observable("");

            self.Id = ko.observable("00000000-0000-0000-0000-000000000000");
            self.UserId = ko.observable("");
            self.UserName = ko.observable("");
            self.ProjectId = ko.observable("00000000-0000-0000-0000-000000000000");
            self.ProjectName = ko.observable("");
            self.TaskCode = ko.observable("");
            self.Title = ko.observable("");
            self.Description = ko.observable("");
            self.Status = ko.observable();
            self.StatusName = ko.observable("");
            self.DaysToBeCompleted = ko.observable(0);
            self.CreatedOn = ko.observable("");
            self.DateStarted = ko.observable("");
            self.DateEnded = ko.observable("");
            self.DateCompleted = ko.observable("");
            self.ApprovalStatus = ko.observable();
            self.ApprovalStatusName = ko.observable("");
            self.ApprovalId = ko.observable("");
            self.StatusNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.StatusNameType)))
            self.ApprovalNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.ApprovalNameType)))

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);
            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ProjectTaskMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ProjectTaskViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.ProjectTaskViewModel))

            console.log('Current Task View');

            self.UpdateTaskStatus = function (status) {
                console.log('UpdateTaskStatus');
                console.log(status());
                switch (status()) {
                    case 1:
                        return 'badge badge-info';
                    case 2:
                        return 'badge badge-warning';
                    case 3:
                        return 'badge badge-secondary';
                    case 4:
                        return 'badge badge-danger';
                    case 5:
                        return 'badge badge-success';
                    case 6:
                        return 'badge badge-dark';
                }
            };

            self.UpdateApprovalStatus = function (ApprovalStatus) {
                console.log('UpdateApprovalStatus');
                console.log(ApprovalStatus());
                switch (ApprovalStatus()) {
                    case 0:
                        return 'badge badge-warning';
                    case 1:
                        return 'badge badge-success';
                }
            };

            ChangeTask = function (task, event) {
                swal({
                    title: "Are you sure?",
                    text: "You will be able to change this task!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, change it!",
                    cancelButtonText: "No, cancel it!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                        if (isConfirm) {
                            var target = event.target;
                            var newValue = $(target).val();

                            $.ajax({
                                url: "/ProjectTask/GetCurrentTaskStatus",
                                type: "POST",
                                data: { id: task.Id(), statusName: newValue},
                                success: function (data, textStatus, xhr) {
                                    if (data.Result == "success") {
                                        swal("Changed!", "Your task status has been changed.", "success");
                                        //window.alerts.success("Your task status has been changed.");
                                        location.reload();
                                    }
                                    if (data.Result == "failed") {
                                        $(target).val(self.Status()); //reset to previous value
                                        swal("Not Changed!", "Already your task has been in in-progress status.", "error");
                                        //window.alerts.warning("Already your task has been in in-progress status.");
                                        location.reload();
                                    }
                                },
                                error: function (xhr, status, err) {
                                    $(target).val(self.Status()); //reset to previous value
                                    window.alerts.error("Your task status has not been changed.");
                                }
                            });
                        } else {
                            $(target).val(self.Status()); //reset to previous value
                        swal("Cancelled", "Your task status has been cancelled.", "error");
                    }
                });
            }

            ChangeApproval = function (task, event) {
                swal({
                    title: "Are you sure?",
                    text: "You will be able to change this approval!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, change it!",
                    cancelButtonText: "No, cancel it!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        var target = event.target;
                        var newValue = $(target).val();

                        $.ajax({
                            url: "/ProjectTask/GetApprovalStatus",
                            type: "POST",
                            data: { id: task.Id(), statusName: newValue },
                            success: function (data, textStatus, xhr) {
                                if (data.Result == "success") {
                                    swal("Changed!", "Your approval status has been changed.", "success");
                                    //window.alerts.success("Your task status has been changed.");
                                    location.reload();
                                }
                                if (data.Result == "failed") {
                                    $(target).val(self.ApprovalStatus()); //reset to previous value
                                    swal("Not Changed!", "Already your approval has been in in-progress status.", "error");
                                    //window.alerts.warning("Already your task has been in in-progress status.");
                                    location.reload();
                                }
                            },
                            error: function (xhr, status, err) {
                                $(target).val(self.Status()); //reset to previous value
                                window.alerts.error("Your task status has not been changed.");
                            }
                        });
                    } else {
                        $(target).val(self.Status()); //reset to previous value
                        swal("Cancelled", "Your task status has been cancelled.", "error");
                    }
                });
            }

            DeleteTask = function (task) {
                console.log('delete');
            }

            AddTaskForm = function () {
                console.log('AddProjectTask');
                window.location = "@Url.Content("~/ProjectTask/TaskForm")";
            }

            EditTaskForm = function (task) {
                console.log('EditProjectTask');
                window.location = "@Url.Content("~/ProjectTask/TaskForm/")" + task.Id();
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}