﻿@model WorkTimesheet.Web.ViewModels.ProjectMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Project</h1>
        <p>Grid to display project details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Project</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.ProjectList, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: function(){showProjectDialog(true)}"><i class="fa fa-plus"></i>Add Project</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Project Code</th>
                                <th>Project Name</th>
                                <th>Description</th>
                                <th>Nature of Industry</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: ProjectCode"></span></td>
                                <td><span data-bind="text: ProjectName"></span></td>
                                <td><span data-bind="text: Description"></span></td>
                                <td><span data-bind="text: NatureofIndustry"></span></td>
                                <td>
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.ProjectList, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: SelectProject">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.ProjectTask, (int)ProjectTaskValueType.ProjectList, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteProject">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showProjectDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Project</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: CancelProject">×</button>
                            </div>
                            <div class="modal-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="ProjectCode">ProjectCode</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="ProjectCode" name="ProjectCode" type="text" value="" data-bind="value: ProjectCode, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="ProjectName">ProjectName</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="ProjectName" name="ProjectName" type="text" value="" data-bind="value: ProjectName, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="Description">Description</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="Description" name="Description" type="text" value="" data-bind="value: Description, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="NatureofIndustry">NatureofIndustry</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="NatureofIndustry" name="NatureofIndustry" type="text" value="" data-bind="value: NatureofIndustry, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bind="click: CancelProject">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bind="click: UpdateProject, visible: Id() != -1" style="display: none;">Update</button>
                                <button type="button" class="btn btn-primary" data-bind="click: AddProject, visible: Id() == -1">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;
            self.showProjectDialog = ko.observable(false);
            self.ErrorMessage = ko.observable("");

            self.Id = ko.observable("00000000-0000-0000-0000-000000000000");
            self.ProjectCode = ko.observable("");
            self.ProjectName = ko.observable("");
            self.Description = ko.observable("");
            self.NatureofIndustry = ko.observable("");

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ProjectMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ProjectViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.ProjectViewModel))

            this.AddProject = function (project) {
                console.log('add');
                if (self.ProjectErrors != null)
                {
                    if (self.ProjectErrors().length > 0)
                    {
                        self.ProjectErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/ProjectTask/SaveProject", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/ProjectTask/ProjectListView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });

                self.Id("00000000-0000-0000-0000-000000000000");
                self.CancelProject();
            }

            SelectProject = function (project) {
                console.log('select');
                self.Id(GetValueFromPossibleKnockout(project.Id));
                self.ProjectCode(GetValueFromPossibleKnockout(project.ProjectCode));
                self.ProjectName(GetValueFromPossibleKnockout(project.ProjectName));
                self.Description(GetValueFromPossibleKnockout(project.Description));
                self.NatureofIndustry(GetValueFromPossibleKnockout(project.NatureofIndustry));
                self.showProjectDialog(true);
			}

            DeleteProject = function (project) {
                console.log('delete');
            }

            this.UpdateProject = function (project) {
                console.log('update');
                if (self.ProjectErrors != null)
                {
                    if (self.ProjectErrors().length > 0)
                    {
                        self.ProjectErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/ProjectTask/SaveProject", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/ProjectTask/ProjectListView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });
                self.Id("00000000-0000-0000-0000-000000000000");
                self.CancelProject();
            }

            this.CancelProject = function () {
                console.log('cancel');
                self.Id("00000000-0000-0000-0000-000000000000");
                self.ProjectCode('');
                self.ProjectName('');
                self.Description('');
                self.NatureofIndustry('');
                self.ErrorMessage('');
                self.showProjectDialog(false);
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}


