﻿@model WorkTimesheet.Web.ViewModels.ProjectTaskViewModel
@inject IJsonHelper Json;

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Project Task Form</h1>
        <p>Grid to display project task form</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Project Task</h3>
                <p>
                    <button class="btn btn-primary icon-btn" href="" data-bind="click: save"><i class="fa fa-save"></i>Save	</button>
                    <a class="btn btn-primary icon-btn" href="" data-bind="click: cancel"><i class="fa fa-close"></i>Cancel	</a>
                </p>
            </div>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.TaskCode)
                                        @Html.KnockoutControlFor(model => model.TaskCode)
                                        @Html.ValidationMessageFor(model => model.TaskCode, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="MenuUUID">User Name</label>
                                        <select class="form-control" id="UserId" name="UserId" data-bind="options: UserNameType, optionsText: 'Name', optionsValue: 'Id', value: UserId" title="This field is required." data-orig-title=""></select>
                                        <span class="validationMessage" style="display: none;"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Title)
                                        @Html.KnockoutControlFor(model => model.Title)
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.DaysToBeCompleted)
                                        @Html.KnockoutControlFor(model => model.DaysToBeCompleted)
                                        @Html.ValidationMessageFor(model => model.DaysToBeCompleted, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="ParentId">Project Name</label>
                                        <select class="form-control" id="ProjectId" name="ProjectId" data-bind="options: ProjectNameType, optionsText: 'Name', optionsValue: 'Id', value: ProjectId" title="This field is required." data-orig-title=""></select>
                                        <span class="validationMessage" style="display: none;"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Description)
                                        @Html.KnockoutControlFor(model => model.Description)
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            @Html.KnockoutModalConfig();
            @Html.KnockoutBooleanToYesNo();

            function ViewModel() {
                console.log('loading');
                console.log('BASE_URL : ' + BASE_URL);
                console.log('BASE_URL : ' + baseUrl);

                var self = this;
                var bag = @Html.Raw(Json.Serialize(ViewBag));

                self.UserNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.UserNameType)));
                self.ProjectNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.ProjectNameType)));

                ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

                //self.RolePermissions = ko.observableArray([]);

                @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ProjectTaskViewModel))
		        @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.ProjectTaskViewModel))

                self.ProjectId.subscribe(function (val) {
                    console.log('ProjectId : ' + val);
                    if (val != undefined && val != '') {
                        $.get(BASE_URL + "/ProjectTask/GetTaskCodeByProjectId", { ProjectId: val })
                            .done(function (returnedData) {
                                // This callback is executed if the post was successful
                                if (returnedData != null) {
                                    if (returnedData.Result != null) {
                                        console.log(returnedData.Result);
                                        self.TaskCode(returnedData.Result);
                                    }
                                }
                            })
                            .fail(function (xhr, status, error) {
                                //debugger;
                                console.log("Error retrieving audit references");
                                // This callback is executed if the post was unsuccessful
                            });
                    }
                });

			    save = function () {
                    console.log("SAVE");

                    window.alerts.clear();
                    if (self.errors().length > 0) {
                        window.alerts.error("Please resolve all errors before proceeding.");
                        self.errors.showAllMessages();
                        console.log("validation failed");
                        return;
                    }

                    $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                    $.post(BASE_URL + "/ProjectTask/SaveProjectTask", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/ProjectTask/CurrentTaskView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        });
			    }

                cancel = function () {
                    console.log("CANCEL");
                    window.location = "@Url.Content("~/ProjectTask/CurrentTaskView")";
                }

                addValues = function () { }
                removeValues = function () { }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>
}