﻿<a class="app-header__logo" href="/Home/Index">Work Timesheet</a>
<!-- Sidebar toggle button-->
<a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
<!-- Navbar Right Menu-->
<ul class="app-nav">    
    <!-- User Menu-->
    <li class="dropdown">
        <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
        <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="/Home/Index"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" href="/Home/Index"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li>
                <form asp-area="" asp-controller="Home" asp-antiforgery="false" id="LogoutForm" asp-action="Logout" method="post">
                    <a href="javascript:void(0);" oncontextmenu="return false;" onclick="document.getElementById('LogoutForm').submit();" class="dropdown-item">
                        <i class="fa fa-sign-out fa-lg"></i>Logout
                    </a>
                </form>
            </li>
        </ul>
    </li>
</ul>