﻿@using WorkTimesheet.Web.Views.Shared.Components.Header
@using WorkTimesheet.Web.Views.Shared.Components.SideBar

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Timesheet - Creepro</title>
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/main.css" />
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">

    <!-- Navbar-->
    <header class="app-header" id="app-header">
        <!-- Start Header -->
        @(await Component.InvokeAsync<HeaderViewComponent>())
        <!-- End of Header -->
    </header>

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <!-- Start SideBar -->
        @(await Component.InvokeAsync<SideBarViewComponent>())
        <!-- End of SideBar -->
    </aside>

    <main class="app-content">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Scripts.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")
    @RenderSection("Scripts", required: false)

</body>
</html>
