﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Timesheet - Creepro</title>
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/css/main.css" />
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>

    <section class="login-content">
        @RenderBody()
    </section>

    @await Html.PartialAsync("_Scripts.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")
    @RenderSection("Scripts", required: false)

</body>
</html>
