﻿<!-- Essential javascripts for application to work-->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.validate.js"></script>
<script src="~/js/knockout-3.5.1.js"></script>

<!-- Plugin javascripts for application to work-->
<script src="~/js/plugins/jquery-ui.custom.min.js"></script>
<script src="~/js/plugins/jquery.dataTables.min.js"></script>
<script src="~/js/plugins/jquery.vmap.min.js"></script>
<script src="~/js/plugins/jquery.vmap.sampledata.js"></script>
<script src="~/js/plugins/jquery.vmap.world.js"></script>
<script src="~/js/plugins/bootstrap-datepicker.min.js"></script>
<script src="~/js/plugins/chart.js"></script>
<script src="~/js/plugins/pace.min.js"></script>
<script src="~/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="~/js/plugins/moment.min.js"></script>
<script src="~/js/plugins/fullcalendar.min.js"></script>
<script src="~/js/plugins/select2.min.js"></script>
<script src="~/js/plugins/bootstrap-notify.min.js"></script>
<script src="~/js/plugins/sweetalert.min.js"></script>
<script src="~/js/plugins/bootstrapAlerts.js"></script>
<script src="~/js/plugins/knockout.mapping.js"></script>
<script src="~/js/plugins/knockout.validation.js"></script>
<script src="~/js/main.js"></script>