﻿@model WorkTimesheet.Web.ViewModels.LovViewModel


<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> List Of Values</h1>
        <p>Grid to display LOV details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Add List Of Values</h3>
                <p>
                    <button class="btn btn-primary icon-btn" href="" data-bind="click: save"><i class="fa fa-save"></i>Save	</button>
                    <a class="btn btn-primary icon-btn" href="" data-bind="click: saveAndClose"><i class="fa fa-clone"></i>Save & Close	</a>
                    <a class="btn btn-primary icon-btn" href="" data-bind="click: cancel"><i class="fa fa-close"></i>Cancel	</a>
                </p>
            </div>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            @Html.BootstrapLabelFor(model => model.ProjectType)
                            @Html.KnockoutControlFor(model => model.ProjectType)
                            @Html.ValidationMessageFor(model => model.ProjectType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.BootstrapLabelFor(model => model.ProjectDescription)
                            @Html.KnockoutControlFor(model => model.ProjectDescription)
                            @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-title-w-btn">
                                <h3 class="title">All Values</h3>
                                <div class="btn-group"><button type="button" class="btn btn-primary" data-bind="click: function(){showValuesDialog(true)}"><i class="fa fa-lg fa-plus"></i>Add Values</button></div>
                            </div>
                            <div class="tile-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        @Html.KnockoutTableHead(typeof(WorkTimesheet.Web.ViewModels.LovValue))
                                        @Html.KnockoutTableBody(typeof(WorkTimesheet.Web.ViewModels.LovValue), "Values", true)
                                    </table>
                                </div>

                                @Html.BeginKnockoutModalForm("Values", "showValuesDialog")
                                @Html.KnockoutBasicModalView(typeof(WorkTimesheet.Web.ViewModels.LovValue), "Values")
                                @Html.EndKnockoutModalCRUDForm("Values")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            @Html.KnockoutModalConfig();

            function ViewModel() {
                console.log('loading');

                var self = this;
                var bag = @Html.Raw(Json.Serialize(ViewBag));

                self.TypeCountry = ko.observableArray(bag.countryTypeList);
                self.TypeJobType = ko.observableArray(bag.jobTypeList);
                ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

                @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.LovViewModel))
		        @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.LovViewModel))

                @Html.KnockoutCRUDModalLogic(typeof(WorkTimesheet.Web.ViewModels.LovValue), "Values")
                @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.LovValue), true, "Values")

			    save = function () {
                    console.log("SAVE");

                    window.alerts.clear();
                    if (self.errors().length > 0) {
                        window.alerts.error("Please resolve all errors before proceeding.");
                        self.errors.showAllMessages();
                        console.log("validation failed");
                        return;
                    }

                    $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);
                    data.Values = data.Values();

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                    $.post(BASE_URL + "/Masters/SaveListOfValues", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Masters/LOVView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        });
			    }

                saveAndClose = function () {
                    console.log("SAVE AND CLOSE");

                }

                cancel = function () {
                    console.log("CANCEL");
                    window.location = "@Url.Content("~/Masters/LOVView")";
                }

                addValues = function () { }
                removeValues = function () { }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>
}