﻿@model WorkTimesheet.Web.ViewModels.ListOfValuesModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> List Of Values</h1>
        <p>Grid to display LOV details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All List Of Values</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Masters, (int)MasterValueType.ListOfValues, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: addListOfValues"><i class="fa fa-plus"></i>LOV</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Project Type</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: ProjectType"></span></td>
                                <td><span data-bind="text: ProjectDescription"></span></td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" data-bind="click: viewListOfValues">
                                            <i class="fa fa-lg fa-ellipsis-v"></i>
                                        </button>
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Masters, (int)MasterValueType.ListOfValues, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: selectListOfValues">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Masters, (int)MasterValueType.ListOfValues, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: deleteListOfValues">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showValuesDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">View Values</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: cancelListOfValues">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="sampleTable">
                                        <thead>
                                            <tr>
                                                <th>Label</th>
                                                <th>Value</th>
                                                <th>Order</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="dataTablesForEach : {
                                           data: IndividualValues,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]],
                                           lengthMenu: [[5, 10, 15, -1], [5, 10, 15, 'All']]
                                            }
                                            }">
                                            <tr>
                                                <td><span data-bind="text: ProjectLabel"></span></td>
                                                <td><span data-bind="text: ProjectValue"></span></td>
                                                <td><span data-bind="text: Order"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bind="click: cancelListOfValues">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

        @Html.KnockoutModalConfig();

        function ViewModel() {
			var self = this;
            self.showValuesDialog = ko.observable(false);
            self.IndividualValues = ko.observableArray();

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ListOfValuesModel))

            addListOfValues = function (lov) {
                window.location = "@Url.Content("~/Masters/ListOfValuesApplication?type=")";
            }

            viewListOfValues = function (lov) {
                console.log('view list of values');
                self.IndividualValues.removeAll()
                //self.IndividualValues = lov.Values;
                ko.utils.arrayForEach(lov.Values(), function (item) {
                    console.log('view list of value ' + item);
                    self.IndividualValues.push(item);
                });
                console.log('view list of value ' + self.IndividualValues[0]);
                self.showValuesDialog(true);
            }

            selectListOfValues = function (lov) {
                window.location = "@Url.Content("~/Masters/ListOfValuesApplication?type=")" + lov.ProjectType();
			}

            deleteListOfValues = function (lov) {
                window.alerts.info('Delete Successfully ' + lov.ProjectType());
            }

            cancelListOfValues = function () {
                console.log('cancel list of values');
                console.log('cancel');
                self.showValuesDialog(false);
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}


