﻿@model WorkTimesheet.Web.ViewModels.TimeTrackerViewModel
@inject IJsonHelper Json;

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> TimeTracker</h1>
        <p>Grid to display timetracker sheet details</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">TimeTracker</h3>
                <p>
                    <button class="btn btn-primary icon-btn" href="" data-bind="click: save"><i class="fa fa-save"></i>Save	</button>
                    <a class="btn btn-primary icon-btn" href="" data-bind="click: cancel"><i class="fa fa-close"></i>Cancel	</a>
                </p>
            </div>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="DateStarted">DateStarted</label>
                                            <input type="time" class="form-control" id="DateStarted" data-bind="value: DateStarted, valueUpdate: " afterkeydown"">
                                            <span class="invalid-feedback" style="display: none;"></span>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DateStarted" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="NetworkUsedBy">Network Used</label>
                                        <select class="form-control" id="NetworkUsedBy" name="NetworkUsedBy" data-bind="options: NetworkNameType, optionsText: 'Name', optionsValue: 'Id', value: NetworkUsedBy" title="This field is required." data-orig-title=""></select>
                                        <span class="validationMessage" style="display: none;"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Comments">Comments</label>
                                        <textarea class="form-control" id="Comments" rows="3" data-bind="value: Comments, valueUpdate: "afterkeydown""></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="DateEnded">DateEnded</label>
                                            <input type="time" class="form-control" id="DateEnded" data-bind="value: DateEnded, valueUpdate: "afterkeydown"">
                                            <span class="invalid-feedback" style="display: none;"></span>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DateEnded" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ParentId">Environment Used</label>
                                        <select class="form-control" id="EnvironmentUsedBy" name="EnvironmentUsedBy" data-bind="options: EnvironmentNameType, optionsText: 'Name', optionsValue: 'Id', value: EnvironmentUsedBy" title="This field is required." data-orig-title=""></select>
                                        <span class="validationMessage" style="display: none;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            @Html.KnockoutModalConfig();
            @Html.KnockoutBooleanToYesNo();
            function currentDate() {
                return moment();                             //sends current datetime
            };

            function ViewModel() {
                console.log('loading');
                console.log('BASE_URL : ' + BASE_URL);
                console.log('BASE_URL : ' + baseUrl);

                var self = this;
                var bag = @Html.Raw(Json.Serialize(ViewBag));

                self.NetworkNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.NetworkNameType)));
                self.EnvironmentNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.EnvironmentNameType)));

                ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);
                //self.RolePermissions = ko.observableArray([]);
                //var current_date = moment(new Date()).format("YYYY-MM-DDThh:mm:ss");
                //self.DateStarted(current_date);
                //self.DateEnded(current_date);

                @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.TimeTrackerViewModel))
		        @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.TimeTrackerViewModel))

			    save = function () {
                    console.log("SAVE");

                    window.alerts.clear();
                    if (self.errors().length > 0) {
                        window.alerts.error("Please resolve all errors before proceeding.");
                        self.errors.showAllMessages();
                        console.log("validation failed");
                        return;
                    }

                    $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                    $.post(BASE_URL + "/Timesheet/SaveTimeTracker", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Timesheet/WorkFromHomeView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        });
			    }

                cancel = function () {
                    console.log("CANCEL");
                    window.location = "@Url.Content("~/Home/Index")";
                }

                addValues = function () { }
                removeValues = function () { }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>
}