﻿@model WorkTimesheet.Web.ViewModels.GroupMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Group</h1>
        <p>Grid to display group details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Group</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Groups, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: function(){showGroupDialog(true)}"><i class="fa fa-plus"></i>Add Group</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: GroupName"></span></td>
                                <td><span data-bind="text: Description"></span></td>
                                <td>
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Groups, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: SelectGroup">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Groups, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteGroup">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showGroupDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: CancelGroup">×</button>
                            </div>
                            <div class="modal-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="GroupName">GroupName</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="GroupName" name="GroupName" type="text" value="" data-bind="value: GroupName, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="Description">Description</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="Description" name="Description" type="text" value="" data-bind="value: Description, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="ParentGroup">ParentGroup</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <select class="form-control" id="ParentGroup" name="ParentGroup" data-bind="options: ParentGroupType, optionsText: 'Name', optionsValue: 'Id', value: ParentGroup" title="This field is required." data-orig-title=""></select>
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bind="click: CancelGroup">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bind="click: UpdateGroup, visible: Id() != -1" style="display: none;">Update</button>
                                <button type="button" class="btn btn-primary" data-bind="click: AddGroup, visible: Id() == -1">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;
            self.showGroupDialog = ko.observable(false);
            self.Id = ko.observable("00000000-0000-0000-0000-000000000000");
            self.ErrorMessage = ko.observable("");
            self.ParentGroupType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.ParentGroupType)));
            self.ParentGroup = ko.observable(0);
            self.GroupName = ko.observable("");
            self.Description = ko.observable("");

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.GroupMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.GroupViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.GroupViewModel))

            this.AddGroup = function (group) {
                console.log('add');
                if (self.GroupErrors != null)
                {
                    if (self.GroupErrors().length > 0)
                    {
                        self.GroupErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/Operations/SaveGroup", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/GroupsView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });

                self.Id("00000000-0000-0000-0000-000000000000");
                self.CancelGroup();
            }

            SelectGroup = function (group) {
                console.log('select');
                self.Id(GetValueFromPossibleKnockout(group.Id));
                self.ParentGroup(GetValueFromPossibleKnockout(group.ParentGroup));
                self.GroupName(GetValueFromPossibleKnockout(group.GroupName));
                self.Description(GetValueFromPossibleKnockout(group.Description));
                self.showGroupDialog(true);
			}

            DeleteGroup = function (group) {
                console.log('delete');
            }

            this.UpdateGroup = function (group) {
                console.log('update');
                if (self.GroupErrors != null)
                {
                    if (self.GroupErrors().length > 0)
                    {
                        self.GroupErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/Operations/SaveGroup", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/GroupsView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });
                self.Id("00000000-0000-0000-0000-000000000000");
                self.CancelGroup();
            }

            this.CancelGroup = function () {
                console.log('cancel');
                self.ParentGroup(0);
                self.GroupName('');
                self.Description('');
                self.ErrorMessage('');
                self.Id("00000000-0000-0000-0000-000000000000");
                self.showGroupDialog(false);
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}


