﻿@model WorkTimesheet.Web.ViewModels.RoleMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> RoleMaster</h1>
        <p>Grid to display role details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Role</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Roles, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: function(){showRoleDialog(true)}"><i class="fa fa-plus"></i>Role</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: RoleName"></span></td>
                                <td><span data-bind="text: Description"></span></td>
                                <td>
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.RolePermissions, PermissionType.SpecialRights)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: ViewRolePermission">
                                                <i class="fa fa-lg fa-ellipsis-v"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Roles, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: SelectRole">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Roles, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteRole">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showRoleDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Role</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: CancelRole">×</button>
                            </div>
                            <div class="modal-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="RoleName">RoleName</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="RoleName" name="RoleName" type="text" value="" data-bind="value: RoleName, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="Description">Description</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="Description" name="Description" type="text" value="" data-bind="value: Description, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bind="click: CancelRole">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bind="click: UpdateRole, visible: Id() != -1" style="display: none;">Update</button>
                                <button type="button" class="btn btn-primary" data-bind="click: AddRole, visible: Id() == -1">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;

            self.showRoleDialog = ko.observable(false);
            self.Id = ko.observable(-1);
            self.ErrorMessage = ko.observable("");

            self.RoleName = ko.observable("");
            self.Description = ko.observable("");

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.RoleMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.RoleViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.RoleViewModel))

            this.AddRole = function (role) {
                console.log('add');
                if (self.RoleErrors != null)
                {
                    if (self.RoleErrors().length > 0)
                    {
                        self.RoleErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/Operations/SaveRoleMaster", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/RolesView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });

                self.Id(-1);
                self.CancelRole();
            }

            ViewRolePermission = function (role) {
                console.log('ViewRolePermission');
                window.location = "@Url.Content("~/Operations/RolePermission/")" + role.Id();
            }

            SelectRole = function (role) {
                console.log('select');
                self.Id(GetValueFromPossibleKnockout(role.Id));
                self.RoleName(GetValueFromPossibleKnockout(role.RoleName));
                self.Description(GetValueFromPossibleKnockout(role.Description));
                self.showRoleDialog(true);
			}

            DeleteRole = function (role) {
                console.log('delete');
            }

            this.UpdateRole = function (role) {
                console.log('update');
                if (self.RoleErrors != null)
                {
                    if (self.RoleErrors().length > 0)
                    {
                        self.RoleErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/Operations/SaveRoleMaster", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/RolesView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });
                self.Id(-1);
                self.CancelRole();
            }

            this.CancelRole = function () {
                console.log('cancel');
                self.RoleName('');
                self.Description('');
                self.ErrorMessage('');
                self.Id(-1);
                self.showRoleDialog(false);
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}


