﻿@model WorkTimesheet.Web.ViewModels.RolePermissionMasterModel
@inject IJsonHelper Json;

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Role Permission</h1>
        <p>Grid to display role peremission details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">View Role Permission</h3>
                <p>
                    <button class="btn btn-primary icon-btn" href="" data-bind="click: save"><i class="fa fa-save"></i>Save	</button>
                    <a class="btn btn-primary icon-btn" href="" data-bind="click: cancel"><i class="fa fa-close"></i>Cancel	</a>
                </p>
            </div>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            @Html.BootstrapLabelFor(model => model.RoleName)
                            @Html.KnockoutControlFor(model => model.RoleName)
                            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.BootstrapLabelFor(model => model.Description)
                            @Html.KnockoutControlFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-title-w-btn">
                                <h3 class="title">All Permissions</h3>
                            </div>
                            <div class="tile-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        @Html.KnockoutTableHead(typeof(WorkTimesheet.Web.ViewModels.RolePermissionViewModel))
                                        @Html.KnockoutTableBody(typeof(WorkTimesheet.Web.ViewModels.RolePermissionViewModel), "RolePermissions")
                                    </table>
                                </div>

                                @Html.BeginKnockoutModalForm("RolePermissions", "showRolePermissionsDialog")
                                @Html.KnockoutBasicModalView(typeof(WorkTimesheet.Web.ViewModels.RolePermissionViewModel), "RolePermissions")
                                @Html.EndKnockoutModalCRUDForm("RolePermissions", false)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            @Html.KnockoutModalConfig();
            @Html.KnockoutBooleanToYesNo();

            function ViewModel() {
                console.log('loading');
                console.log('BASE_URL : ' + BASE_URL);
                console.log('BASE_URL : ' + baseUrl);

                var self = this;
                var bag = @Html.Raw(Json.Serialize(ViewBag));

                ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

                //self.RolePermissions = ko.observableArray([]);

                @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.RolePermissionMasterModel))
		        @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.RolePermissionMasterModel))

                @Html.KnockoutCRUDModalLogic(typeof(WorkTimesheet.Web.ViewModels.RolePermissionViewModel), "RolePermissions")
                @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.RolePermissionViewModel), true, "RolePermissions")

			    save = function () {
                    console.log("SAVE");

                    window.alerts.clear();
                    if (self.errors().length > 0) {
                        window.alerts.error("Please resolve all errors before proceeding.");
                        self.errors.showAllMessages();
                        console.log("validation failed");
                        return;
                    }

                    $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);
                    data.RolePermissions = data.RolePermissions();

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                    $.post(BASE_URL + "/Operations/SaveRolePermissions", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/RolesView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        });
			    }

                cancel = function () {
                    console.log("CANCEL");
                    window.location = "@Url.Content("~/Operations/RolesView")";
                }

                addValues = function () { }
                removeValues = function () { }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>
}