﻿@model WorkTimesheet.Web.ViewModels.UserMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> User</h1>
        <p>Grid to display user details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All User</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Users, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: function(){showUserDialog(true)}"><i class="fa fa-plus"></i>Add User</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: UserName"></span></td>
                                <td><span data-bind="text: PhoneNumber"></span></td>
                                <td>
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Users, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: SelectUser">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.Operations, (int)OperationValueType.Users, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteUser">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showUserDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: CancelUser">×</button>
                            </div>
                            <div class="modal-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="UserName">UserName</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="UserName" name="UserName" type="text" value="" data-bind="value: UserName, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="PhoneNumber">PhoneNumber</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text" value="" data-bind="value: PhoneNumber, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-User">
                                        <label class="col-sm-4 control-label" for="RoleId">Role</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <select class="form-control" id="RoleId" name="RoleId" data-bind="options: RoleType, optionsText: 'Name', optionsValue: 'Id', value: RoleId" title="This field is required." data-orig-title=""></select>
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-User">
                                        <label class="col-sm-4 control-label" for="GroupId">Group</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <select class="form-control" id="GroupId" name="GroupId" data-bind="options: GroupType, optionsText: 'Name', optionsValue: 'Id', value: GroupId" title="This field is required." data-orig-title=""></select>
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bind="click: CancelUser">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bind="click: UpdateUser, visible: Id() != -1" style="display: none;">Update</button>
                                <button type="button" class="btn btn-primary" data-bind="click: AddUser, visible: Id() == -1">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;
            self.showUserDialog = ko.observable(false);
            self.Id = ko.observable("");
            self.UserName = ko.observable("");
            self.PhoneNumber = ko.observable("");
            self.Password = ko.observable("");
            self.RoleType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.RoleType)));
            self.RoleId = ko.observable("");
            self.GroupType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.GroupType)));
            self.GroupId = ko.observable("");
            self.ErrorMessage = ko.observable("");

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.UserMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.UserViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.UserViewModel))

            this.AddUser = function (user) {
                console.log('add');
                if (self.UserErrors != null)
                {
                    if (self.UserErrors().length > 0)
                    {
                        self.UserErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/Operations/SaveUser", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/UsersView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });

                self.Id(-1);
                self.CancelUser();
            }

            SelectUser = function (user) {
                console.log('select');
                self.Id(GetValueFromPossibleKnockout(user.Id));
                self.RoleId(GetValueFromPossibleKnockout(user.RoleId));
                self.GroupId(GetValueFromPossibleKnockout(user.GroupId));
                self.UserName(GetValueFromPossibleKnockout(user.UserName));
                self.PhoneNumber(GetValueFromPossibleKnockout(user.PhoneNumber));
                self.Password(GetValueFromPossibleKnockout(user.Password));
                self.showUserDialog(true);
			}

            DeleteUser = function (user) {
                console.log('delete');
            }

            this.UpdateUser = function (user) {
                console.log('update');
                if (self.UserErrors != null)
                {
                    if (self.UserErrors().length > 0)
                    {
                        self.UserErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/Operations/SaveUser", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/Operations/UsersView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });
                self.Id(-1);
                self.CancelUser();
            }

            this.CancelUser = function () {
                console.log('cancel');
                self.UserName('');
                self.PhoneNumber('');
                self.Password('');
                self.Id('');
                self.RoleId('');
                self.GroupId('');
                self.ErrorMessage('');
                self.showUserDialog(false);
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}


