﻿@using static WorkTimesheet.Web.Data.Helpers.NavigationIndicatorHelper;
@model List<WorkTimesheet.Web.ViewModels.MenuViewModel>

<div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar" src="~/img/avatars/male.png" alt="User Image">
    <div>
        <p class="app-sidebar__user-name">Employee</p>
        <p class="app-sidebar__user-designation">Employee</p>
    </div>
</div>
<ul class="app-menu">
    <li><a class="app-menu__item active" href="/Home"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
    @*<li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">UI Elements</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li><a class="treeview-item" href="bootstrap-components.html"><i class="icon fa fa-circle-o"></i> Bootstrap Elements</a></li>
            <li><a class="treeview-item" href="https://fontawesome.com/v4.7.0/icons/" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> Font Icons</a></li>
            <li><a class="treeview-item" href="ui-cards.html"><i class="icon fa fa-circle-o"></i> Cards</a></li>
            <li><a class="treeview-item" href="widgets.html"><i class="icon fa fa-circle-o"></i> Widgets</a></li>
        </ul>
    </li>*@
    @foreach (var item in Model.Where(menu => menu.ParentId == null).OrderBy(o => o.MenuOrder).GroupBy(m => new { m.Id }).Distinct().ToList())
    {
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon @item.FirstOrDefault().IconClass"></i>
                <span class="app-menu__label"> @item.FirstOrDefault().Title </span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                @foreach (var firstItem in (Model.Where(submenu => submenu.ParentId == item.FirstOrDefault().Id).OrderBy(o => o.MenuOrder).ToList()))
                {
                    <li>
                        <a asp-controller="@firstItem.Controller" asp-action="@firstItem.Action" class="treeview-item @Url.MakeActiveClass(firstItem.Controller,firstItem.Action)">
                            <i class="icon fa fa-circle-o"></i>
                            @firstItem.Title
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>