﻿
<div class="page-error tile">
    <h1><i class="fa fa-exclamation-circle"></i> You Session has been Expired</h1>
    <p>Oops! Something went wrong.</p>
    <p><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Go Back to Login</a></p>
</div>