﻿@model WorkTimesheet.Web.ViewModels.MenuViewModel
@inject IJsonHelper Json;

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Menu Form</h1>
        <p>Grid to display navigation menu form</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Navigation Menu</h3>
                <p>
                    <button class="btn btn-primary icon-btn" href="" data-bind="click: save"><i class="fa fa-save"></i>Save	</button>
                    <a class="btn btn-primary icon-btn" href="" data-bind="click: cancel"><i class="fa fa-close"></i>Cancel	</a>
                </p>
            </div>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Title)
                                        @Html.KnockoutControlFor(model => model.Title)
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="MenuUUID">Module Name</label>
                                        <select class="form-control" id="MenuUUID" name="MenuUUID" data-bind="options: ModuleNameType, optionsText: 'Name', optionsValue: 'Id', value: MenuUUID" title="This field is required." data-orig-title=""></select>
                                        <span class="validationMessage" style="display: none;"></span>                                        
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Controller)
                                        @Html.KnockoutControlFor(model => model.Controller)
                                        @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.IconClass)
                                        @Html.KnockoutControlFor(model => model.IconClass)
                                        @Html.ValidationMessageFor(model => model.IconClass, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">Is External Link
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Description)
                                        @Html.KnockoutControlFor(model => model.Description)
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="ParentId">Parent Name</label>
                                        <select class="form-control" id="ParentId" name="ParentId" data-bind="options: ParentNameType, optionsText: 'Name', optionsValue: 'Id', value: ParentId" title="This field is required." data-orig-title=""></select>
                                        <span class="validationMessage" style="display: none;"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.Action)
                                        @Html.KnockoutControlFor(model => model.Action)
                                        @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.MenuOrder)
                                        @Html.KnockoutControlFor(model => model.MenuOrder)
                                        @Html.ValidationMessageFor(model => model.MenuOrder, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(model => model.URL)
                                        @Html.KnockoutControlFor(model => model.URL)
                                        @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            @Html.KnockoutModalConfig();
            @Html.KnockoutBooleanToYesNo();

            function ViewModel() {
                console.log('loading');
                console.log('BASE_URL : ' + BASE_URL);
                console.log('BASE_URL : ' + baseUrl);

                var self = this;
                var bag = @Html.Raw(Json.Serialize(ViewBag));

                self.ModuleNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.ModuleNameType)));
                self.ParentNameType = ko.observableArray(@Html.Raw(Json.Serialize(ViewBag.ParentNameType)));

                ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

                //self.RolePermissions = ko.observableArray([]);

                @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.MenuViewModel))
		        @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.MenuViewModel))

			    save = function () {
                    console.log("SAVE");

                    window.alerts.clear();
                    if (self.errors().length > 0) {
                        window.alerts.error("Please resolve all errors before proceeding.");
                        self.errors.showAllMessages();
                        console.log("validation failed");
                        return;
                    }

                    $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                    $.post(BASE_URL + "/MetaData/SaveMenuMaster", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/MetaData/MenusView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        });
			    }

                cancel = function () {
                    console.log("CANCEL");
                    window.location = "@Url.Content("~/MetaData/MenusView")";
                }

                addValues = function () { }
                removeValues = function () { }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>
}