﻿@model WorkTimesheet.Web.ViewModels.MenuMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Menu Master</h1>
        <p>Grid to display menu details</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Menus</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.MetaData, (int)MetaDataValueType.Menus, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: AddMenuForm"><i class="fa fa-plus"></i>Menu</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Menu Name</th>
                                <th>Parent Menu Name</th>
                                <th>Description</th>
                                <th>Controller</th>
                                <th>ActionName</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: Title"></span></td>
                                <td><span data-bind="text: ParentName"></span></td>
                                <td><span data-bind="text: Description"></span></td>
                                <td><span data-bind="text: Controller"></span></td>
                                <td><span data-bind="text: Action"></span></td>
                                <td>
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.MetaData, (int)MetaDataValueType.Menus, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: EditMenuForm">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.MetaData, (int)MetaDataValueType.Menus, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteMenu">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;

            self.showMenuDialog = ko.observable(false);
            self.Id = ko.observable("00000000-0000-0000-0000-000000000000");
            self.ErrorMessage = ko.observable("");

            self.Title = ko.observable("");
            self.Description = ko.observable("");
            self.ParentId = ko.observable("00000000-0000-0000-0000-000000000000");
            self.ParentName = ko.observable("");
            self.Controller = ko.observable("");
            self.Action = ko.observable("");
            self.IconClass = ko.observable("");
            self.MenuOrder = ko.observable(-1);
            self.MenuUUID = ko.observable("");
            self.SiteId = ko.observable(-1);
            self.IsExternalLink = ko.observable(false);
            self.URL = ko.observable("");

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.MenuMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.MenuViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.MenuViewModel))

            DeleteMenu = function (menu) {
                console.log('delete');
            }

            AddMenuForm = function () {
                console.log('AddMenuForm');
                window.location = "@Url.Content("~/MetaData/MenuForm")";
            }

            EditMenuForm = function (menu) {
                console.log('AddMenuForm');
                window.location = "@Url.Content("~/MetaData/MenuForm/")" + menu.Id();;
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}