﻿@model WorkTimesheet.Web.ViewModels.ModuleMasterModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using WorkTimesheet.Entities.ValueDataType
@using WorkTimesheet.Entities.ValueDataType.Modules
@using WorkTimesheet.Web.Data.Authorization

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Module Master</h1>
        <p>Grid to display module details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Modules</h3>
                @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.MetaData, (int)MetaDataValueType.Modules, PermissionType.Add)).Result.Succeeded)
                {
                    <p><button class="btn btn-primary icon-btn" href="" data-bind="click: function(){showModuleDialog(true)}"><i class="fa fa-plus"></i>Module</button></p>
                }
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Module Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: ModuleName"></span></td>
                                <td><span data-bind="text: Description"></span></td>
                                <td>
                                    <div class="btn-group">
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.MetaData, (int)MetaDataValueType.Modules, PermissionType.Update)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: SelectModule">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </button>
                                        }
                                        @if (AuthorizationService.AuthorizeAsync(User, String.Format("Permission:{0}:{1}:{2}", (int)ModuleValueType.MetaData, (int)MetaDataValueType.Modules, PermissionType.Delete)).Result.Succeeded)
                                        {
                                            <button class="btn btn-primary" data-bind="click: DeleteModule">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showModuleDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Module</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: CancelModule">×</button>
                            </div>
                            <div class="modal-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="ModuleName">ModuleName</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="ModuleName" name="ModuleName" type="text" value="" data-bind="value: ModuleName, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="Description">Description</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="Description" name="Description" type="text" value="" data-bind="value: Description, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="ModuleValue">ModuleValue</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="ModuleValue" name="ModuleValue" type="text" value="" data-bind="value: ModuleValue, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="ControlValue">ControlValue</label>
                                        <div class="col-sm-7 input-icon-left">
                                            <input class="form-control" id="ControlValue" name="ControlValue" type="text" value="" data-bind="value: ControlValue, valueUpdate: 'afterkeydown'" title="This field is required." data-orig-title="">
                                            <span class="validationMessage" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Permission Value</label>
                                        <div class="form-check">
                                            <label class="form-check-label" for="CanView">
                                                <input class="form-check-input" id="CanView" name="CanView" type="checkbox" data-bind="checked: CanView">CanView
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="CanAdd">
                                                <input class="form-check-input" id="CanAdd" name="CanAdd" type="checkbox" data-bind="checked: CanAdd">CanAdd
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="CanEdit">
                                                <input class="form-check-input" id="CanEdit" name="CanEdit" type="checkbox" data-bind="checked: CanEdit">CanEdit
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="CanDelete">
                                                <input class="form-check-input" id="CanDelete" name="CanDelete" type="checkbox" data-bind="checked: CanDelete">CanDelete
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="CanSpecialRights">
                                                <input class="form-check-input" id="CanSpecialRights" name="CanSpecialRights" type="checkbox" data-bind="checked: CanSpecialRights">CanSpecialRights
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="CanExport">
                                                <input class="form-check-input" id="CanExport" name="CanExport" type="checkbox" data-bind="checked: CanExport">CanExport
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bind="click: CancelModule">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bind="click: UpdateModule, visible: Id() != -1" style="display: none;">Update</button>
                                <button type="button" class="btn btn-primary" data-bind="click: AddModule, visible: Id() == -1">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;

            self.showModuleDialog = ko.observable(false);
            self.Id = ko.observable("00000000-0000-0000-0000-000000000000");
            self.ErrorMessage = ko.observable("");

            self.ModuleName = ko.observable("");
            self.Description = ko.observable("");
            self.ModuleValue = ko.observable(-1);
            self.ControlValue = ko.observable(-1);
            self.PermissionValue = ko.observable(-1);

            self.CanView = ko.observable(true);
            self.CanAdd = ko.observable(true);
            self.CanEdit = ko.observable(true);
            self.CanDelete = ko.observable(true);
            self.CanSpecialRights = ko.observable(true);
            self.CanExport = ko.observable(true);

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ModuleMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.ModuleViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.ModuleViewModel))

            this.AddModule = function (role) {
                console.log('add');
                if (self.ModuleErrors != null)
                {
                    if (self.ModuleErrors().length > 0)
                    {
                        self.ModuleErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/MetaData/SaveModuleMaster", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/MetaData/ModulesView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });

                self.Id("00000000-0000-0000-0000-000000000000");
                self.CancelModule();
            }

            SelectModule = function (module) {
                console.log('select');
                self.Id(GetValueFromPossibleKnockout(module.Id));
                self.ModuleName(GetValueFromPossibleKnockout(module.ModuleName));
                self.Description(GetValueFromPossibleKnockout(module.Description));
                self.ModuleValue(GetValueFromPossibleKnockout(module.ModuleValue));
                self.ControlValue(GetValueFromPossibleKnockout(module.ControlValue));
                self.PermissionValue(GetValueFromPossibleKnockout(module.PermissionValue));
                console.log(module.CanView);
                self.CanView(GetValueFromPossibleKnockout(module.CanView));
                self.CanAdd(GetValueFromPossibleKnockout(module.CanAdd));
                self.CanEdit(GetValueFromPossibleKnockout(module.CanEdit));
                self.CanDelete(GetValueFromPossibleKnockout(module.CanDelete));
                self.CanSpecialRights(GetValueFromPossibleKnockout(module.CanSpecialRights));
                self.CanExport(GetValueFromPossibleKnockout(module.CanExport));
                self.showModuleDialog(true);
			}

            DeleteModule = function (module) {
                console.log('delete');
            }

            this.UpdateModule = function (module) {
                console.log('update');
                if (self.ModuleErrors != null)
                {
                    if (self.ModuleErrors().length > 0)
                    {
                        self.ModuleErrors.showAllMessages();
                        $("span.validationMessage:visible").parent().find("input, textarea").addClass("is-invalid");
                        return;
                    }
                }
                self.ErrorMessage(' ');

                $(".is-invalid").removeClass("is-invalid");
                    var data = jQuery.extend(true, {}, self);

                    for (var property in data) {
                        if (data.hasOwnProperty(property)) {
                            if ((property.startsWith("Add") && !property.startsWith("Address")) || property.startsWith("Update") || property.startsWith("Delete") || property.startsWith("Cancel") || property.startsWith("Select")) {
                                delete data[property];
                            }
                        }
                    }
                    delete data.__ko_mapping__;
                    delete data.ArraySearch;
                    delete data.errors;
                    console.log("SAVE DONE");

                $.post(BASE_URL + "/MetaData/SaveModuleMaster", data)
                        .done(function (returnedData) {
                            // This callback is executed if the post was successful
                            window.alerts.success("Information has been saved.");
                            //window.location.href = siteRoot + '/Operations/CenterMaster";
                            window.location = "@Url.Content("~/MetaData/ModulesView")";
                        })
                        .fail(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                        })
                        .error(function (xhr, status, error) {
                            // This callback is executed if the post was successful
                            var response = JSON.parse(xhr.responseText);
                            window.alerts.error(response.errorMessage);
                    });
                self.Id(-1);
                self.CancelModule();
            }

            this.CancelModule = function () {
                console.log('cancel');
                self.ModuleName('');
                self.Description('');
                self.ModuleValue(-1);
                self.ControlValue(-1);
                self.PermissionValue(-1);
                self.ErrorMessage('');
                self.Id("00000000-0000-0000-0000-000000000000");
                self.showModuleDialog(false);
                self.CanView(false);
                self.CanAdd(false);
                self.CanEdit(false);
                self.CanDelete(false);
                self.CanSpecialRights(false);
                self.CanExport(false);
            }
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}
