﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-box">
    <form class="login-form" method="post">
        <h2 class="login-timesheet" style="color:#e94f59">
            <img src="~/img/purple_logo.png"><br>
            Work Timesheet
        </h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label" asp-for="Input.Email">USERNAME</label>
            <input type="text" asp-for="Input.Email" class="form-control" value="" placeholder="Email" autofocus>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Input.Password">PASSWORD</label>
            <input class="form-control" type="password" placeholder="Password" asp-for="Input.Password" value="">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group">
            <div class="utility">
                <div class="animated-checkbox">
                    <label>
                        <input type="checkbox"><span class="label-text">Stay Signed in</span>
                    </label>
                </div>
                <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
            </div>
        </div>
        <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
        </div>
    </form>
    <form class="forget-form" action="index.html">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
        <div class="form-group">
            <label class="control-label" asp-for="Input.Email">EMAIL</label>
            <input class="form-control" type="text" asp-for="Input.Email" value="ceo@creepro.com" placeholder="Email">
        </div>
        <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
        </div>
        <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function () {
            // Login Page Flipbox control
            $('.login-content [data-toggle="flip"]').click(function () {
                $('.login-box').toggleClass('flipped');
                return false;
            });
            // Validation
            $(".login-form").validate({
                //error class
                errorClass: "help-block",
                errorElement: "span",
                // Rules for form validation
                rules: {
                    'Input.Email': {
                        required: true,
                        email: true
                    },
                    Input_Password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    'Input.Email': {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    Input_Password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });</script>
}
