﻿@model WorkTimesheet.Web.ViewModels.TimeTrackerMasterModel

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Timesheet reports</h1>
        <p>Grid to display current month timesheet report details</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Timesheets</h3>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Date</th>
                                <th>DaysofWeek</th>
                                <th>Hours</th>
                                <th>Status</th>
                                <th>Approval Status</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                           data: Individuals,
                                           options: {
                                           autoWidth: false,
                                           destroy: true,
                                           bFilter: true,
                                           paging: true,
                                           responsive: true,
                                           order: [[0, 'desc' ]]
                                            }
                                            }">
                            <tr>
                                <td><span data-bind="text: UserName"></span></td>
                                <td><span data-bind="text: TimesheetDate"></span></td>
                                <td><span data-bind="text: DaysofWeek"></span></td>
                                <td><span data-bind="text: TotalHours"></span></td>
                                <td><span data-bind="text: Status"></span></td>
                                <td><span data-bind="text: ApprovalStatus"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        @Html.KnockoutModalConfig();

        function ViewModel() {
            var self = this;

            self.Id = ko.observable("");
            self.UserId = ko.observable("");
            self.UserName = ko.observable("");
            self.TimesheetDate = ko.observable("");
            self.DaysofWeek = ko.observable("");
            self.TotalHours = ko.observable(0);
            self.Status = ko.observable(0);
            self.ApprovalStatus = ko.observable(0);
            self.Comments = ko.observable("");
            self.NetworkUsedBy = ko.observable("");

            ko.mapping.fromJS(@Html.Raw(Json.Serialize(Model)), {}, this);

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.TimeTrackerMasterModel))

            @Html.KnockoutModelAdjustments(typeof(WorkTimesheet.Web.ViewModels.TimesheetViewModel))
		    @Html.KnockoutModelValidations(typeof(WorkTimesheet.Web.ViewModels.TimesheetViewModel))
        }
        ko.applyBindings(new ViewModel());
    });
    </script>

    <style>
        tr.RowIndividual {
            cursor: pointer;
        }
    </style>
}